* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* *:focus {
    outline: none;
  } */
  
  :root {
    --color-black: rgba(0, 0, 0, 1);;
    --color-grey: #999999;
    --color-white: #ffffff;
    --color-purple: #9D5CD0;
  }
  
  ::-webkit-file-upload-button {
    cursor: pointer;
  }

  body {
    width:100%;
    height:100%;
    margin: 0;
    background: url(/site2/img/hero-background.jpg) no-repeat 0/cover;
    background-attachment: fixed;
    background-position: center top;
  }
  
  html {
    font-family: 'open_sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  
  button {
    background: none;
    border: none;
  }
  
  img {
    max-width: 100%;
    object-fit: cover
  }
  
  .container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container2 {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  /* HEADER */

  .header {
    background-color: var(--color-black);
    color: white;
    height: 180px;
    overflow: hidden;
  }
/* 
  .header__container {
    display: flex;
    flex-direction: row;
  } */

  .header__first-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-white);
    height: 90px;
  }

  .header__contacts {
    display: flex;
    flex-direction: row;
  }

  .header__contacts-list {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  .contacts-svg {
    width: 40px;
    margin-right: 20px;
  }

  .shop-svg {
    width: 40px;
  }

  .header__contacts-item {
    margin-bottom: 10px;
  }

  .header__contacts-item-link {
    color: var(--color-white);
  }

  .callme-button {
    padding: 15px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 15px;
  }

  .header__social-list {
    display: flex;
  }

  .header__second-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo-img {
    height: 45px;
    width: 156px;
  }

  .header__nav-list {
    display: flex;
  }

  .header__nav-list-item {
    display: flex;
  }

  .header__nav-list-item:not(:last-child) {
    margin-right: 120px;
  }

  .header__signin {
    color: var(--color-white);
  }

  .burger {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .burger {
    padding-top: 10px;
    width: 30px;
  }
  .burger-close {
    width: 17px;
    margin-bottom: 10px;
  }
  .burger-menu {
    padding: 15px;
    flex-wrap: wrap;
  }
  .burger__nav-list {
    margin-bottom: 20px;
  }
  .burger__nav-list-link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
  }
  .burger__signin {
    padding: 10px 29px;
    font-size: 12px;
    line-height: 16px;
  }
  


  /* HERo */


  .section__hero {
    background-color: rgba(0,0,0,.5);
    height: 740px;
    
  }

  .section__hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
  }


  .section__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 512px;
  }

  .section__hero-content-heading {
    font-size: 60px;
    line-height: 80px;
    font-weight: normal;
    color: var(--color-white);
  }

  .section__hero-content-description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400px;
    color: var(--color-white);
    margin-bottom: 20px;
    text-align: center;
  }

  /* CATALOG */

  .section__catalog {
    background-color: var(--color-white);
    z-index: -1;
  }

  .section__catalog-promo {
    height: 480px;
    background: url(/site2/img/catalog-background.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }


  .section__catalog-promo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color:rgba(0,0,0,.5);
  }

  .section__catalog-promo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    z-index: 3;
  }

  .section__catalog-heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 40px;
    z-index: 3;
  }

  .section__catalog-description {
    max-width: 890px;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: var(--color-white);
    text-align: center;
    z-index: 3;
  }


  .section__catalog-search {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .search-input {
    padding-left: 10px ;
    max-width: 500px;
    width: 100%;
    height: 50px;
    margin-right: 50px;
    border: 4px solid #1E90FF;
    border-radius: 15px;
    z-index: 3;
    background-color: transparent;
    color: var(--color-white);
  }

  .search-button {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    color: var(--color-white);
    padding: 10px;
    border: 4px solid #1E90FF;
    border-radius: 15px;
    z-index: 3;
  }


  .section__catalog-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section__catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section__catalog-list-item:not(:nth-child(3n)) {
    margin-right: 20px;
    
  }


  .section__catalog-list-item {
    display: flex;
    flex: 1 1 32%;
    /* outline: 2px solid red; */
    height: 620px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }


  .section__catalog-list-item-img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(50%)
  }

  .section__catalog-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .section__catalog-list-item-heading {
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    color: var(--color-white);
    margin-bottom: 30px;
  }

  .section__catalog-list-item-button {
    font-size: 15px;
    font-weight: normal;
    color: var(--color-white);
    border: 3px solid var(--color-white);
    padding: 15px 15px;
    border-radius: 30px;
  }

  .section__catalog-questions {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .section__catalog-question-descriptions {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .section__catalog-questions-btn {
    display: flex;
    padding: 15px 30px;
    background-color: black;
    color: white;
  }




  /* PRODUCT */
  .sections__products {
    background-color: var(--color-white);
  }

  .sections__products-container {
    position: relative;
    padding-top:70px;
    padding-bottom: 70px;
    height: 470px;
    max-width: 1100px;
    width: 100%;
  }

  .container-slider1 {
    display: flex;
    max-width: 1000px;
    width: 100%;
    max-height: 300px;
    height: 100%;
  }

  .section-products__navigation-slider {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    right: 0;
  }
  
  .swiper-button-next-products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }
  
  .swiper-button-prev-products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }

  /* ABOUT */

  .section-about {
    background: url(/site2/img/about-bg.jpg);
  }

  .section-about__container {
    padding: 100px 0;
  }

  .section-about__content {
    padding: 60px;
    background-color: var(--color-white);
  }

  .section-about__heading {
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
    color: var(--color-black);
    margin-bottom: 30px;
  }

  .section-about__description {
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: var(--color-black);
  }


  /* SERVICE */

  .section-service {
    background-color: var(--color-white);
  }

  .section-service__container {
    padding: 100px 0;
  }

  .section-service__content {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .section-service__heading {
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
    color: var(--color-black);
    margin-bottom: 30px;
  }

  .section-service__description {
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: var(--color-black);
    text-align: center;
  }

  .section-service__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
  }

  .section-service__list-item-image {
    width: 100%;
    height: 500px;
    margin-bottom: 70px;

  }

  .section-service__list-item-heading {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 40px;
  }

  .section-service__list-item-description {
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 30px;
  }

  .section-service__list-item-button {
    display: flex;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    color: var(--color-white);
    background-color: #1E90FF;
    border-radius: 30px;
  }


  /* NEWS */

  .section-news {
    background-color: #FFF5EE;
  }

  .section-news__container {
    padding: 100px 0;
    position: relative;
  }

  .section-news__heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 100px;
  }

  .slide-slider2 {
    display: flex;

  }

  .section-news__slide-left-side {
    display: flex;
    flex: 1 1 50px;
    margin-right: 50px;
  }

  .section-news__slide-right-side {
    display: flex;
    flex-direction: column;
    flex: 1 1 50px;
    align-items: center;
    justify-content: center;
  }

  .section-news__slide-heading {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 20px;
  }


  /* swiper2 */

  .container-slider2 {
    display: flex;
    max-width: 1000px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }

  .section-news__navigation-slider {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    right: 0;
  }
  
  .swiper-button-next-news {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }
  
  .swiper-button-prev-news {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }


  .section-news__form {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
  }

  .section-news__form-heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .section-news__form-sub {
    display: flex;
    justify-content: space-between;
  }

  .section-news__form-sub-input {
    padding: 15px;
    margin-right: 20px;
    width: 300px;
    border: 3px solid #1E90FF;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    border-radius: 30px;
    background-color: transparent;
  }

  .section-news__form-sub-button {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-white);
    background-color: #1E90FF;
    padding: 15px;
    border-radius: 30px;
  }



  /* footer */

.footer {
  color: var(--color-white);
  background-color: var(--color-black);
}

.footer__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.footer__first-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  display: flex;
}

.footer__logo-img {
  margin-bottom: 20px;
}

.footer__info-heading, .footer__addition-heading {
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 10px;
}

.footer__info-list-item, .footer__addition-list-item  {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 5px;
}

.footer__navigation-list-item {
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 15px;
}

.footer__social-heading {
  margin-bottom: 10px;
}

.footer__social-list {
  display: flex;
  margin-bottom: 30px;
}

.footer__social-list-item:not(:last-child) {
  margin-right: 20px;
}

.svg-social-footer{
  width: 40px;
}


.footer__call-me {
  display: flex;
  margin-bottom: 20px;
}

.footer__tel-link {
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
  color: var(--color-white);
}

.footer__second-level {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  font-size: 20px;
  line-height: 40px;
}

.footer__pay-list {
  display: flex;
}
.svg-footer-pay {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1800px) {

  .header__nav-list-item:not(:last-child) {
    margin-right: 80px;
  }
}

@media (max-width: 1600px) {

  .header__nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 1350px) {

  .header__nav-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .shop-svg {
    width: 25px;
  }

  .header__contacts-item-link {
    font-size: 12px;
  }

  .contacts-svg {
    width: 35px;
  }

  .header__contacts-list {
    margin-right: 10px;
  }
}



@media (max-width: 1300px) {

  /* header */
  .callme-button {
    display: none;
  }


  /* catalog */
  .section__catalog-list-item {
    flex: 1 1 45%;
  }

  .section__catalog-list-item:not(:nth-child(3n)) {
    margin-right: 0px;
    
  }

  .section__catalog-list-item:not(:nth-child(2n)) {
    margin-right: 20px;
    
  }

  /* slider 1 */

  .section__products-image {
    max-width: 50%;
  }

  .slide-slider1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* footer */

  .footer__info-heading, .footer__addition-heading {
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 10px;
  }
  
  .footer__info-list-item, .footer__addition-list-item  {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 5px;
  }
  
  .footer__navigation-list-item {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 15px;
  }
  
  
  

  
}

@media (max-width: 1000px) {
  .header__contacts {
    display: none;
  }

  .sections__products-container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .section-products__navigation-slider {
    left: 5%;
    right: 5%;
    width: 90%;
  }

  .section-about__container {
    padding: 50px;
  }

  .container-slider2 {
    width: 90%;
  }

  .footer__info-heading, .footer__addition-heading {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 10px;
  }
  
  .footer__info-list-item, .footer__addition-list-item  {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 5px;
  }
  
  .footer__navigation-list-item {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 15px;
  }


}

@media (max-width: 850px) {
  .header {
    height: 90px;
  }

  .header__second-level {
    display: none;
  }

  .header__navigation {
    display: none;
  }

  .header__signin {
    display: none;
  }

  .burger {
    display: flex;
    align-items: center;
    width: 45px;
  }

  .burger-menu {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    padding: 50px;
    padding-top: 36px;
    padding-bottom: 0;
    background-color: black;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .burger-menu.is-active {
    transform: none;
    visibility: visible;
  }
  .burger-close {
    width: 30px;
    margin-bottom: 29px;
  }

  .burger__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .burger__nav-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .burger__nav-list-item {
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
  }

  .burger__contacts {
    display: flex;
  }

  .burger__contacts-item-link {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: var(--color-white);
  }
  
  .burger__contacts{
    margin-bottom: 50px;
  }
  .burger-contacts-svg {
    width: 50px;
    margin-right: 20px;
  }

  .burger__callme-button {
    font-size: 20px;
    padding: 15px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 15px;
  }

  .burger__contacts-list {
    margin-right: 20px;
  }

  .burger__shop-svg {
    width: 50px;
    margin-right: 20px;
  }

  .burger__button-shop {
    display: flex;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--color-white);
    align-items: center;
    margin-bottom: 30px;
  }

  .burger__signin-icon {
    width: 0px;
  }
  
}


@media (max-width: 800px) {
  .section__catalog-list-item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .section__catalog-list-item {
    flex: 1 1 100%;
  }

  .section-news__form-sub {
    flex-direction: column;
  }

  .section-news__form-sub-input {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .section-news__navigation-slider {
    top: 30%;
  }

  .footer__social-heading {
    font-size: 18px;
  }

  .footer__addition {
    display: none;
  }

  .footer__copy {
    font-size: 18px;
    line-height: 18px;
  }

  .footer__pay-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  
}

@media (max-width: 690px) {

  .section__hero {
    height: 500px;
  }
  .section__hero-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section__catalog-promo-container {
    padding-top: 50px;
  }

  .section__catalog-heading {
    font-size: 30px;
  }

  .section__catalog-search {
    padding: 30px 0;
  }

  .section-about__container {
    padding: 10px;
  }
  .section-about__content {
    padding: 10px;
  }

  .footer__info {
    display: none;
  }

  .footer__navigation {
    display: none;
  }
  .footer__second-level {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__pay {
    margin-bottom: 20px;
  }

  .footer__container {
    align-items: center;
  }


}

@media (max-width: 400px) {
  .section__hero-content-heading {
    font-size: 50px;
    line-height: 60px;
  }

  .section__hero-content-description {
    font-size: 12px;
  }

  .section__catalog-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .section__catalog-description {
    font-size: 12px;
  }

  .search-input {
    font-size: 12px;
    margin-right: 10px;
  }

  .search-button {
    font-size: 18px;
  }

  .section__catalog-question-descriptions {
    font-size: 12px;
  }

  .section__catalog-questions-btn {
     font-size: 12px;
  }

  .sections__products-container {
    padding: 20px;
  }

  .section-about__heading {
    font-size: 30px;
  }

  .section-about__description {
    font-size: 12px;
  }

  .section-service__container {
    padding: 30px 0;
}

.section-service__list-item-image {
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
}

.section-service__list-item-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-service__list-item-description {
  font-size: 12px;
}

.slide-slider2 {
  display: flex;
  flex-direction: column;
} 

.section-news__slide-left-side {
  margin-right: 0px;
}

.section-news__heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.section-news__form-heading {
  font-size: 25px;
}

.section-news__form-sub-input {
  width: 250px;
  padding: 5px;
  font-size: 18px;
}

.section__catalog-list-item {
  height: 400px;
}

}