.portfolio-item {
    &__row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        &__left {
            margin-bottom: 25px;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        &.title__line {
            &::before {
                left: 0px;
            } 
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 500px;
        margin-bottom: 15px;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            margin-bottom: 10px;

            &__icon {
                display: flex;
                justify-content: center;
                margin-bottom: 5px;
                svg {
                    height: 20px;
                }
            }

            &__text {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
    }

    &__view {
        position: relative;
        width: 300px;
        height: 190px;
        background-image: url('/img/notebook.png');
        background-size: cover;
        margin-bottom: 30px;
        &__image {
            position: absolute;
            width: 228px;
            height: 128px;
            left: 36px;
            top: 20px;
        }
    }
}


@media(min-width:640px) {
    .portfolio-item {
        &__text {
            max-width: 650px;
        }
    
        &__view {
            position: relative;
            width: 400px;
            height: 270px;
            background-image: url('/img/notebook.png');
            background-size: cover;
            margin-bottom: 30px;
            &__image {
                position: absolute;
                width: 303px;
                height: 169px;
                left: 49px;
                top: 28px;
            }
        }
    }
}

@media(min-width:1024px) {
    .portfolio-item {
        &__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &__left {
                max-width: 50%;
                margin-right: 25px;
            }
    
            &__right {
                margin-left: 25px;
                max-width: 50%;
            }
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        &__title {
            &.title__line {
                &::before {
                    left: 0px;
                } 
            }
        }
    
        &__text {
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 10px;
        }
    
        &__subtitle {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 40px;
        }
    
        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 500px;
            margin-bottom: 30px;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                margin-bottom: 20px;
    
                &__icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    svg {
                        height: 60px;
                    }
                }
    
                &__text {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    
        &__buttons {
            display: flex;
            flex-direction: row;
        }
    
        &__view {
            position: relative;
            width: 500px;
            height: 320px;
            background-image: url('/img/notebook.png');
            &__image {
                position: absolute;
                width: 380px;
                height: 212px;
                top: 35px;
                left: 60px;
            }
        }
    }
}

@media(min-width:1200px) {
    .portfolio-item {
        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 500px;
            margin-bottom: 30px;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                margin-bottom: 20px;
    
                &__icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    svg {
                        height: 60px;
                    }
                }
    
                &__text {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }

        &__view {
            position: relative;
            width: 500px;
            height: 320px;
            background-image: url('/img/notebook.png');
            &__image {
                position: absolute;
                width: 380px;
                height: 212px;
                top: 35px;
                left: 60px;
            }
        }
    }
}


@media(min-width:1400px) {
    .portfolio-item {

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 500px;
            margin-bottom: 30px;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                margin-bottom: 20px;
    
                &__icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    svg {
                        height: 60px;
                    }
                }
    
                &__text {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    
        &__view {
            position: relative;
            width: 700px;
            height: 470px;
            background-image: url('/img/notebook.png');
            &__image {
                position: absolute;
                width: 532px;
                height: 300px;
                top: 49px;
                left: 84px;
            }
        }
    }
}


@media(min-width:2000px) {
    .portfolio-item {

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 500px;
            margin-bottom: 30px;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 25%;
                margin-bottom: 20px;
    
                &__icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    svg {
                        height: 60px;
                    }
                }
    
                &__text {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    

        &__view {
            position: relative;
            width: 926px;
            height: 625px;
            background-image: url('/img/notebook.png');
            &__image {
                position: absolute;
                width: 704px;
                height: 393px;
                top: 65px;
                left: 111px;
            }
        }
    }
}