.portfolio {
    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__col {
            max-width: 560px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__centred {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    } 

    &__title {
        text-align: center;
    }

    &__subtitle{
        font-family: "Montserrat";
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
            margin-left: 10px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        margin-top: 30px;
        &__item {
            width: calc(50% - 30px);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px;
            margin-bottom: 15px;
            a {
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
            }
    
            &:last-child {
                width: 100%;
            }
        }
    }
}


@media(min-width:1024px) {
    .portfolio {
        &__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &__col {
                max-width: 1120px;
            }
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__centred {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        } 
    
        &__title {
            text-align: center;
        }
    
        &__subtitle{
            font-family: "Montserrat";
            font-size: 20px;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                margin-left: 10px;
            }
        }
    
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 720px;
            margin-bottom: 40px;
            margin-top: 40px;
            &__item {
                width: calc(25% - 30px);
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 15px;
                margin-bottom: 15px;
                a {
                    font-size: 18px;
                    font-weight: 700;
                    text-decoration: none;
                }
        
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    width: calc(33% - 30px);
                }
                &:last-child {
                    width: calc(25% - 30px);
                }
            }
        }
    }
}

